@import "tailwindcss";

:root {
  --background: #0b1120;
  --text-color: #fff;
  --accent: #6366f1;
  --background-grey:#1182;
}


@media (prefers-color-scheme: light) {
  :root {
    --background: #fff;
    --text-color: #000;
  }
}


::-webkit-scrollbar {
  width: 5px; 
  border-radius:3px;
}


::-webkit-scrollbar-track {
  background: var(--background-grey); 
}

::-webkit-scrollbar-thumb {
  background:var(--background-grey); 
  border-radius: 5px;  
}


::-webkit-scrollbar-thumb:hover {
  background: var(--accent); 
}


.dark{
  --background: #fff;
    --text-color: #000;
}
body {
  padding:0px;
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-inter);
  }

h1,h2{
  font-family: var(--font-poppins);
  font-size:32px;
  font-weight:700;
}

header{
  background: var(--background);
  padding:12px 32px 5px 32px;
  z-index: 999;
}
.accent{
  color:var(--accent)
}

.btn-primary{
  cursor:pointer;
  background-color:var(--accent);
  border-radius: 20px;
  width:100px;
}
.card{
  background-color: var(--background-grey);
  padding:16px;
}
.header{
  z-index:999;
}
.card-container{
  height:200px;
}
.card:hover{
  transform: scale(1.02);
  transition:all ease 400ms
}
.card-left-parents{
  width:100%;
  background-color: var(--accent);
}
.card-left-parent:nth-child(1){
  width:50%;
}
.card-left-parent:nth-child(1){
  width:25%;
}
.match-card{
  background-color: var(--background-grey);
  border-radius:5px;
  position: relative;
}
/**
.match-card::before{
  content:'➡';
  width: 0px;
  height:30px;
  border-radius:50%;
  background-color: var(--background-grey);
  right:0px;
  position: absolute;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight:700;
}
.match-card:hover::before{
  content:'⬅';
  position: absolute;
  transition: all ease 400ms;
  background-color: var(--accent);
  width:30px;
}
**/
.sidebar{
  background-color: var(--background-grey);
  width:150px;
}
.sidebar p{
  margin-bottom: 20px;
}
.topbar{
  left:50%;
  background-color: var(--background-grey);
  border-radius:50px;
}
.welcome-card{
  left:0px;
}
.sign-card form{
  background-color: var(--background-grey);
  border-radius:10px;
  width:400px;
  height:400px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-up div input{
  background-color: var(--background-grey);
  border-radius:2px;
  width: 90%;
  margin-right: 10px;
  padding: 10px;
  border:1px solid var(--accent)
}
.log-in button{
  background-color: var(--accent);
  border-radius: 10px;
  padding: 10px;
  width:200px;
}
.log-in button:hover{
  translate: scale(1.03);
}
.dashboard{
  margin-left: 80px;
}
.info-edit-box div{
  margin-top: 10px;
}